
<form action="/api/sessions/login" method="post">
    Email : <input type="text" name="email">
    Password : <input type="text" name="password">
    <input type="submit" value="Iniciar sesion">
</form>

{{#if error}}
    <div>
        Error: {{error}}
    </div>
{{/if}}
