<h2> Create new User </h2>

<form action="/api/sessions/register" method="post">
    First name : <input type="text" name="first_name">
    Last name : <input type="text" name="last_name">
    Email : <input type="text" name="email">
    Age : <input type="number" name="age">
    Password : <input type="text" name="password">
    <input type="submit" value="Enviar">
</form>