<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h1> <a href="/api/products"> Que anda amigo </a> </h1>
        <div class="loginOptions">
            <h3> <a href="/api/sessions/login"> Iniciar Sesion </a> </h3> 
            <h3> <a href="/api/sessions/login-github"> Iniciar Sesion con Github </a></h3>
            <h3> <a href="/api/sessions/register"> Registrarse </a> </h3>
            <h3> <a href="/api/sessions/logout"> Cerrar Sesion </a> </h3>
        </div>
    </div>
    {{{ body }}}
</body>
</html>

<style>
    h1,
    h2 {
        text-align: center;
    }

    .loginOptions{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
    }
</style>